USE [master]
GO
/****** Object:  Database [Clothes]    Script Date: 12/27/2022 7:51:26 AM ******/
CREATE DATABASE [Clothes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clothes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Clothes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clothes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Clothes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clothes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clothes]
GO
/****** Object:  Table [dbo].[ClothProducts]    Script Date: 12/27/2022 7:51:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothProducts](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NULL,
	[Createdby] [uniqueidentifier] NULL,
	[Updatedby] [uniqueidentifier] NULL,
	[Createddate] [datetime] NULL,
	[Updateddate] [datetime] NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductSize] [varchar](4) NULL,
	[ProductType] [nvarchar](40) NULL,
	[ProductPrice] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
